<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Post Form</title>
    </head>

    <body>
        <h3>Post Form</h3>

        <form action="/processpost" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="data">Sensitive Data:</label><br>
            <input type="text" id="data" name="data"><br>
            <input type="submit" value="Submit">
        </form>

    </body>
</html>